.item__container {
  background-color: var(--color-primary-tint-1);
  border-bottom: 1px solid rgb(255, 218, 137);
  padding: 1.6rem 0;
}

.item__container:first-child {
  padding-top: 2rem;
}

.item__container:last-child {
  border-bottom: none;
  padding-bottom: 2rem;
}

.price {
  padding: 0 2.4rem;
  display: flex;
  justify-content: space-between;
}

.item__wrapper {
  display: flex;
  gap: 1.2rem;
  align-items: flex-start;
}

.item__wrapper--price {
  margin-left: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item__number,
.item__name,
.item__price {
  font-size: 2rem;
  font-weight: 500;
}

.item__number {
  color: rgb(233, 155, 12);
  font-weight: 700;
  font-weight: 400;
}

.item__price {
  white-space: nowrap;
}

.item__description {
  margin-top: 0.7rem;
  font-size: 1.5rem;
  color: #888;
  word-break: break-word;
}

/* Apenas pra que texto auxiliar de refrigerantes fique "bonitinho" */
.item__description--helper {
  margin-top: 0.7rem;
  font-size: 1.5rem;
  color: #888;
  word-break: break-all;
}
