@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800&display=swap');

/*
  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 /
  30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 /
  64 / 80 / 96 / 128 / 144 / 160
*/

:root {
  --color-primary: #e67e22;
  --color-secondary: #fff;
  --color-tertiary: #000;

  --color-primary-shade-1: #cf711f;
  --color-primary-shade-2: #45260a;
  --color-primary-tint-1: #fdf2e9;
  --color-primary-tint-2: #eb984e;

  --gray-primary: #333;
  --gray-secondary: #555;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  color: var(--gray-primary);
}




